.liquidBorder {
    border: 3px solid #8644c5;
    border-radius: 2rem 5rem 3rem 6rem / 5rem 3rem 6rem 2rem;
    padding: 1.5rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  